{% from 'casing.jinja' import to_pascal_case %}
use godot::prelude::*;

struct {{ to_pascal_case(project_name|regex_replace("(_|-)", " ")) }};

#[gdextension]
unsafe impl ExtensionLibrary for {{ project_name|regex_replace("(_|-)", " ") }}Ext {}
