{% from 'casing.jinja' import to_pascal_case -%}
use godot::prelude::*;

struct {{ to_pascal_case(project_name) }}Ext;

#[gdextension]
unsafe impl ExtensionLibrary for {{ to_pascal_case(project_name) }}Ext {}
