{% from relpath('../casing.jinja') import to_snake_case -%}
use godot::prelude::*;

struct {{ to_pascal_case(project_name) }}Ext;

#[gdextension]
unsafe impl ExtensionLibrary for {{ to_pascal_case(project_name) }}Ext {}
